.u-section-1 {background-image: url("images/260477291-0.jpeg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 464px}
.u-section-1 .u-table-1 {margin: 60px auto 60px 0}
.u-block-38b5-4 {background-image: none} 

@media (max-width: 1199px){ .u-section-1 .u-table-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-table-entity-1 {min-height: 100px; height: 325px} }